<div class="edit_body" id="edit_body">
  <div class="word-cards">
    <div class="to-previous-area">
      <div class="to-previous-button">
        <i class="caret down clockwise rotated huge link icon"></i>
      </div>
    </div>
    <div class="word-card">

    </div>
    <div class="to-next-area">
      <div class="to-next-button">
        <i class="caret down counterclockwise rotated huge link icon"></i>
      </div>
    </div>
  </div>
  <div class="select-buttons">
    <div class="word-num-select">
      <div class="ui selection dropdown">
        <input type="hidden" name="pet">
        <i class="dropdown icon"></i>
        <div class="default text">Pet</div>
        <div class="scrollhint menu">
          <div class="item" data-value="0">Cat</div>
          <div class="item" data-value="1">Dog</div>
          <div class="item" data-value="2">Bird</div>
          <div class="item" data-value="3">Rabbit</div>
          <div class="item" data-value="4">Squirrel</div>
          <div class="item" data-value="5">Horse</div>
          <div class="item" data-value="6">Turtle</div>
          <div class="item" data-value="7">Parrot</div>
        </div>
      </div>
    </div>
    <div class="turn-gacha-button">

    </div>
  </div>
</div>

