<%= render :partial => 'shared/header' %>

<div id="process_1"><%= render :partial => 'word_gacha/process_1'%></div>

<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>
<%= javascript_pack_tag "idea/mandarat_channel" %>