<div class="edit_body" id="edit_body">
  <div class="word-gatcha">
    <div class="turn-gacha-area">
      <div class="ui teal big button" id="turn-gacha-button"><i class="gem icon"></i>回す</div>
    </div>
    <div id="word-cards">
      <div id="cards_close">
        <h1>close<i class="times circle icon"></i></h1>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
      <div class="word-card">
        <div id="rank_top"></div>
        <h1 id="gacha-word">単語ガチャ</h1>
        <div id="rank_bottom"></div>
      </div>
    </div>
  </div>
</div>
