<div class="edit_body" id="edit_body">
  <div class="word-gatcha">
    <div class="turn-gacha-area">
      <div class="ui teal big button" id="turn-gacha-button"><i class="gem icon"></i>回す</div>
    </div>
    <div id="word-cards">
      <div id="cards_close">
        <button class="ui grey tertiary small button" id="close-card-area">close  <i class="times circle icon"></i></button>
      </div>
    </div>
  </div>
</div>
