<%= render :partial => 'shared/header' %>
<%= javascript_pack_tag "idea/word_gacha" %>
<div id="process_1"><%= render :partial => 'word_gacha/process_1'%></div>

<%= render :partial => 'shared/homemenu' %>
