<h1>Hello!Rails!</h1>
<%= link_to '移動' , welcome_index_path %>
<%= link_to '移動' , '/welcome/index' %>

<%= link_to "サインイン", new_user_registration_path %> |
<%= link_to "ログイン", new_user_session_path %>
