<div class="release_note_segment">
  <table class="ui teal table release_note_table">
    <thead>
    <tr>
      <th>バージョン</th>
      <th>更新日付</th>
      <th>更新内容</th>
      <th>詳細</th>
    </tr>
    </thead>
    <tbody>
    <% @csv.each do |row| %>
      <tr>
        <td><%= row["version"] %></td>
        <td><%= row["date"] %></td>
        <td><%= row["content"] %></td>
        <td><%= row["description"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%#= javascript_pack_tag 'release_note', 'data-turbolinks-track': 'reload' %>