<div class="release_note_segment">
  <table class="ui teal table release_note_table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="output_csv">

    </tbody>
  </table>
</div>
<%= javascript_pack_tag 'releasenote', 'data-turbolinks-track': 'reload' %>
