<%# ブレインストーミング　手順２　意見だし %>
<div class="edit_body" id="edit_body">
  <h3 class="theme">入力されたテーマ</h3>
  <div class="ui four cards process2_ideas">
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div><div class="teal card idea">
    <div class="content">
      あああああ
    </div>
  </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
  </div>
</div>
