<%# ブレインストーミング　手順１　アイデア出し %>
<div class="home_body wide_margin" id="home_body">
  <h3 class="theme">入力されたテーマ</h3>
  <div class="post_idea">
    <div class="ui fluid action input">
      <input type="text" placeholder="思いついたことを書いていきましょう">
      <button class="ui black button">OK</button>
    </div>
  </div>
  <div class="ui four cards process1_ideas" id="ideas">
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div><div class="teal card idea">
    <div class="content">
      あああああ
    </div>
  </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
    <div class="teal card idea">
      <div class="content">
        あああああ
      </div>
    </div>
  </div>
</div>

