<%# ブレインストーミング　手順３　グルーピング %>
<div class="edit_body" id="edit_body">
  <h3 class="theme">入力されたテーマ</h3>

  <%# 3 %>
  <div class="process3_contents">
    <div class="group-contents">
      <div class="ui stacked segments group">
        <div class="ui huge transparent input">
          <input type="text" placeholder="GROUP1">
        </div>
      </div>
      <div class="ui stacked segments group">
        <div class="ui huge transparent input">
          <input type="text" placeholder="GROUP2">
        </div>
      </div>
      <div class="ui stacked segments group">
        <div class="ui huge transparent input">
          <input type="text" placeholder="GROUP3">
        </div>
      </div>
      <div class="ui stacked segments group">
        <div class="ui huge transparent input">
          <input type="text" placeholder="GROUP4">
        </div>
      </div>
      <div class="ui black large button group-add">グループを追加する</div>
    </div>
    <div class="idea-contents">
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
      <div class="idea">
        <div class="ui teal large label">アイデアを表示</div>
      </div>
    </div>
  </div>
</div>
