<%# ブレインストーミング　手順３　グルーピング %>
<div class="home_body wide_margin">
  <h3 class="theme">テーマ: <%= idea.idea_name %></h3>
  <%# 3 %>
  <div class="ui black large button group-add" id="group_add">グループを追加する</div>
  <div class="process3_contents">
    <div class="group-contents">
      <% for content in idea_logs do %>
        <% if content.query['mode'] == 'group' %>
          <div class="ui stacked segments group">
            <div class="ui huge transparent input">
              <%= text_field_tag 'brain_rename_' + content.query["group"]["group_id"].to_s, '', placeholder: content.query["group"]["name"], data: {behavior: 'idea_speaker'} %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="idea-contents" id="p3_ideas">
      <div class="ideas">
        <% for content in idea_logs.reverse do %>
          <% if content.query['mode'] == 'add' %>
            <div class="idea">
              <div class="ui teal large label">
                <%= content.query["add"]["content"] %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>