// Place all the styles related to the Brainstorming controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*new*/
.tech_about_body .home_body {
  margin-right: 1% !important;
}

.block-tech-about {
  width: 100% !important;
}

.techname {
  font-weight: bold;
  font-size: large;
  padding: 1% 0;
}

.block-tech-about .explain {
  list-style: none;
}

.block-tech-about ul {
  list-style: none;
}

.block-tech-about .header-text {
  padding-left: 2%;
}

.participant-invitation {
  font-weight: normal;
  color: teal;
}

.block-tech-about .participant {
  margin-top: -1%;
  height: 10vh;
  overflow: auto;
}

.start-button {
  margin: 2%;
}

/*process1*/
.theme {
  background-color: white;
  font-size: medium;
  border-radius: 10px;
  padding: 1.5%;
  margin: 1% 0 !important;
}

.process1_ideas .idea {
  font-size: larger;
  height: 10vh;
  display: flex;
  text-align: center;
}

.post_idea {
  margin-bottom: 4vh;
}

#ideas .none {
  display: none;
}

/*process2*/
.process2_ideas {
  height: 80vh;
  overflow: auto;
}

.square-card {
  min-width: 50px !important;
  min-height: 50px !important;
  overflow-y: scroll;

  .content{
    height: auto;
  }
}

.square-card::-webkit-scrollbar {
  display: none;
}

.post_idea .input{
  width: 100%;
}

/*process3*/
.process3_contents {
  width: 100%;
  overflow: hidden;
}

.group-contents {
  height: 68vh;
  width: 80%;
  margin: 1% 0;
  padding: 0.5%;
  background-color: white;
  border-radius: 10px;

  float: left;
  overflow: auto;
}

.idea-contents {
  height: 68vh;
  width: 20%;
  padding: 1%;

  float: left;
  overflow: auto;
}

.idea-contents .idea {
  width: 90%;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.group {
  height: 200px;
  background-color: white;
  padding: 1%;
  margin-bottom: 1%;
}
.hidden_group{
  height: 185px;
}

.idea-contents .idea{
  height: fit-content;
  margin-bottom: 5%;
}

.hidden_group .idea{
  margin: 0.5% !important;
}

.group_name {
  display: block !important;
}

.hidden_group{
  overflow: auto;
}
.hidden_group::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

/*edit*/
.brainstorming_edit{
  margin: 2%;
}
.brainstorming_header{
  height: 30px;
  font-size: small;
  color: #1B1C1D;
  margin-left: 0.5%;
}