// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.creat_new_segment{
  height: 40%;
}
.creat_new_segment .news{
  height: 30vh;
}
.creat_new_segment .new{
  background-color: #1b1e21;
  height: 30vh;
  width: 20%;
  margin: 0 2%;
  border-radius: 10px;
}

.recent_creation_segment{
  height: 30%;
}
.recent_creation_segment .creations{
  height: 20vh;
}
.recent_creation_segment .creation{
  border: #999999 solid 1px;
  height: 20vh;
  width: 20%;
  margin: 0 2%;
  border-radius: 10px;
}
.home_body .header{
  font-size: medium;
  font-weight: bold;
  margin-left: 3%;
}
.home_body .more{
  font-size: larger;
  color: #1B1C1D;
  margin-left: 75vw;
}