// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/*shared*/
.mandarat-shared {
  height: 80vh;
  width: 18%;
  margin-top: 3%;
  margin-left: 2%;
  //background-color: #1B1C1D;
  //border: #1B1C1D 1px solid;
  float: left;
}

#to_while_link a {
  //margin: auto;
  color: black;
  font-size: small !important;
}

.current-location-area {
  margin-top: 3%;
}

.current-location-area table {
  border-collapse: collapse;
  //margin: auto;
}

.current-location-area td {
  //padding: 18px;
  width: 35px;
  height: 38px;
  padding: 0;
  border: solid 1px black;
  background-color: white;
}

.current-location-area .radiobutton {
  display: none;
  width: 35px;
  height: 35px;
}

.current-location-area label {
  background-color: white;
  padding: 10px 18px 11px 18px;
  width: 0px;
  height: 0px;

}

.current-location-area .radiobutton:checked + label {
  background-color: #26AEAF;
}

.themes-area {
  margin-top: 15%;
  //background-color: #666666;
  height: 75%;
  width: 100%;
}

.themes {
  font-size: small;
  color: #1B1C1D;
  width: 100%;
}

.themes-area .active {
  margin-bottom: 5%;
  color: #666666 !important;
}


/*main*/
.mandarat-main {
  margin-top: 1%;
  height: 80vh;
  width: 70%;
  min-width: 610px;
  float: left;
}

.mandarat-main .to-up-area, .mandarat-main .to-down-area {
  height: 56px;
  width: calc(80% + 122px);
}

.mandarat-main .to-left-area, .mandarat-main .to-right-area {
  height: 69vh;
  width: 56px;
  float: left;
  padding-top: 31vh;
}

.mandarat-main .to-down-area {
  margin-top: 69vh;
}

.mandarat-main #to-up-button, .mandarat-main #to-down-button {
  width: fit-content;
  margin: auto;
}

.mandarat-main #to-left-button, .mandarat-main #to-right-button {
  height: fit-content;
}

.mandarat-main .to-left-area {
  margin-right: 10px !important;
}

.mandarat-blocks {
  height: 69vh;
  width: 80%;
  float: left;
}

.mandarat-blocks table {
  border-collapse: collapse;
  table-layout: fixed;
}

.mandarat-blocks td {
  width: 20vw;
  height: 23vh !important;
  border: solid 1px black;
  background-color: white;
  position: relative;
}

.mandarat-blocks textarea {
  text-align: center;
  resize: none;
  width: 100%;
  display: table-cell;
}

.mandarat-blocks .text_block{
  width: fit-content;
  height: fit-content;
  max-width: 90%;
  max-height: 95%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}

.mandarat-blocks .off {
  background-color: #DADADA;
}

/*main2*/
.mandarat-overview {
  border: solid 1px black;
  width: fit-content;
  margin: auto;
}

.mandarat-overview table {
  border-collapse: collapse;
}

.main-theme-block {
  width: 30vh;
  height: 30vh;
  background-color: white;
  padding: 0 !important;
}

.sub-theme-block td {
  width: 10vh;
  height: 10vh;
  border: solid 1px #000000;
  background-color: white;
}

.btn-invalid {
  pointer-events: none;
}

.tab {
  table-layout: fixed;
  width: 170px;
  height: 10px;
}
.tab td{
  width: 80px;
  height: 80px;

  position: relative;
}
.tab td div {
  font-size: 9pt;
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}

@for $i from 0 through 8 {
  .t#{$i} {
    border: none;
    background: none;
    -webkit-appearance: none;
    width: 12vw;
    height: 23vh !important;
    border-radius: 0;
    outline: none;
  }
}

.theme-tab {
  border-collapse: collapse;
  width: 112px;
}

.theme-tab td {
  padding: 3px;
  height: 40px;
  background-color: white;
}

@media screen and(max-width: 1024px) {
  .to-up-area {
    display: none !important;
  }
  .to-left-area {
    visibility:hidden !important;
  }
  .to-down-area {
    display: none !important;
  }
  .to-right-area {
    display: none !important;
  }
}

.edit_body{
  overflow: scroll;
  display: flex;
}