// Place all the styles related to the Memo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html{
  height: 100%
}
body{
  height: 100%
}

.pusher{
  height: 90%
}