@import "semantic-ui";

body {
  font-family: "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/*body*/
.home_body{
  margin-left: 16%;
  margin-right: 16%;
  padding: 1% 2%;
  height: 80%;
}

/*header*/
.to_home_text{
  color: teal;
  font-size: larger;
}

/*homemenu*/
.menu_icon{
  width: 15%;
}

.copyright{
  position: absolute;
  color: aliceblue;
  bottom: 15px;
  right: 30px;
}



/*memomenu*/
.bleak{
  height: 5%;
  margin-bottom: 5%;
}

.memos .memo-text{
  font-weight: normal;
}

.memos .memo-icon{
  float: right;
  margin-top: 1%;
}

.memos .memo-sample{
  margin-top: -5px;
}

/*editmenu*/
.block-edit-sidebar ul {
  list-style: none;
  line-height: 1.5;
  font-size: large;
}

.header-text{
  font-size: large;
  font-weight: bolder;
}

.timer{
  height: 10%;
  font-size: xx-large;
  font-weight: bold;
  overflow: hidden;

}
.timer_min,.timer_sec{
  float: left;
}
.timer_min{
  margin: 5%;
}
.timer_sec{
  margin-top: 5%;
}

.explain{
  height: 17%;
}
.explain-list{
  color: #999999;
}
.explain .bold{
  color: #1B1C1D;
}

.participant{
  height: 17%;
}
.member{
  height: 80%;
  overflow: auto;
}

.memo{
  height: 56%;
}

.memo-content{
  margin: 5%;
  width: 90%;
  height: 90%;
}

