@import "semantic-ui";

body {
  font-family: "游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

/*header*/
.home-header{
}

/*homemenu*/
.to_home_text{
  color: #00BAB0;
  font-size: large;
}

.menu_icon{
  width: 15%;
}

.copyright{
  position: absolute;
  color: aliceblue;
  bottom: 15px;
  right: 30px;
}



/*memomenu*/
.bleak{
  height: 5%;
  margin-bottom: 5%;
}

.memos .memo-text{
  font-weight: normal;
}

.memos .memo-icon{
  float: right;
  margin-top: 1%;
}

.memos .memo-sample{
  margin-top: -5px;
}

