// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "semantic-ui";

body{
  background-color: #f5f5f5 !important;
}

/*みどり部分*/
.top {
  background-image: url(image_path("index_background.png"));
  background-size: 100% 100%;
  padding-bottom: 10%;
  padding-top: 2%;
}

/*大きい文字(白)*/
.background_text {
  font-style: normal;
  font-weight: 700;
  font-size: 23vw;
  line-height: 0.9em;
  letter-spacing: -17px;
  color: #FFFFFF;
  margin-top: -5%;

  width: fit-content;
  //text-align: center;
  //margin: auto;

  /*文字を上に*/
  position:relative;
}


.image_think_man {
  position: absolute;
  right: 0;
  top: -15%;
  /*overflow: hidden;*/
  height: 100vw;
  /*filter: blur(2px)*/
}

.no_select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  z-index: 0;
}



/*第1区分*/
.seg_1 {
  position: relative;
  text-align: center;
}
.seg_1 #home{
  display: inline-block;
  text-align: left;
}

.btns_1 {
  position: absolute;
  width: fit-content;
  height: 19%;
  text-align: center;
  top: 40%;
  left: 37%;
  z-index: 10;
  /*あとで背景設定したい*/
  //background-color: white;
  border-radius: 20px;
}

.btns_1_1 {
  width: fit-content;
}

.release_note{
  margin-top: 10px;
  width: 300px !important;
}

.release_note .content{
  text-align: left !important;
}

/*第2区分*/
.seg_2 {
  position: relative;
  text-align: center;
  padding-top: 50%;
}

.seg_2 #concept{
  display: inline-block;
  text-align: left;
}
.icon_1 {
  position: absolute;
  width: 25%;
  top: 37%;
  left: 35%;
}

/*白になるとこ*/

.gradation{
  background: linear-gradient(180deg, #26AEAF 0%, rgba(51, 178, 177, 0.916667) 28.12%, #f5f5f5 100%);  height: 40%;
  margin-top: -10px;
}

/*第3区分*/
.seg_3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.icon_2 {
  width: 7%;
  padding-top: 10%;
}

/*説明部分のCSS*/
h1{
  font-size: 4vw;
}
h2{
  font-size: 1.5vw;
  font-weight: lighter;
  margin-top: -3px;
}
p{
  font-size: 1.5vw;
  width: 31%;
  line-height: 1.5em;
}


/*第4区分*/
.seg_4{
  position: relative;
  padding-top: 10%;
}

.seg_4 .headers{
  margin-left: 17%;
}

.seg_4 h2{

}

.seg_4 p{
  margin-left: 17%;
  margin-top: 5%;
}

/*第5区分*/
.seg_5{
  position: relative;
  padding-top: 32%;
}

.seg_5 .headers{
  margin-left: 52%;
}

.seg_5 p{
  margin-left: 52%;
  margin-top: 5%;
}

.sample_1{
  position: absolute;
  width: 70%;
  top: 65%;
  left: 52%;
}

.sample_2{
  position: absolute;
  width: 70%;
  top: 15%;
  left: -25%;
}

/*第6区分*/
.seg_6{
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
}

.seg_6 h1{
  margin-top: 6%;
}

.seg_6 .icon{
  width: 7%;
  margin-top: 2%;
}

.btn_2{
  margin-top: 3%;
}

/*footer*/
.footer{
  position: relative;
  width: 100%;
  height: 17%;
  background-color: #000000;
  color: white;
  text-align: center;
}
.footer-menu{
  padding-top: 2%;
}
ul.footer-menu li {
  display: inline;
}

.footer .man{
  width: 20%;
  position: absolute;
  transform: scale(-1, 1);
  left: 15%;
  bottom:99.5%;
}

a:link, a:visited, a:hover, a:active{
  color: white;
}

/*リリースノート*/
.release_note_segment{
  width: 80vw;
  margin:auto;
  padding-top: 5%;
}