<h1>Chat room</h1>
<div id='idea_logs'>
  <%= render partial: 'ideachat/idealogs', collection: @idealogs %>
</div>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'idea_speaker' } %>