<%# マンダラート　メイン編集画面 %>
<div class="edit_body" id="edit_body">
  <%= render :partial => 'mandarat/shared' %>
  <div class="mandarat-main">
    <div class="to-up-area">
      <div id="to-up-button"><i class="caret down vertically flipped huge icon"></i></div>
    </div>
    <div class="to-left-area">
      <div id="to-left-button"><i class="caret down clockwise rotated huge icon"></i></div>
    </div>
    <div class="mandarat-blocks">
      <table border="1">
        <!--あとで書き換える-->
        <tr><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
      </table>
    </div>
    <div class="to-right-area">
      <div id="to-right-button"><i class="caret down counterclockwise rotated huge icon"></i></div>
    </div>
    <div class="to-down-area">
      <div id="to-down-button"><i class="caret down huge icon"></i></div>
    </div>
  </div>
</div>



