<%# マンダラート　全体表示画面 %>
<div class="edit_body" id="edit_body">
  <div class="mandarat-overview">
    <div class="content"><input type="button" onclick="zoomview()" value="ズーム画面に戻る"></div>
    <table>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-1">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="0"></td><td id="1"></td><td id="2"></td></tr>
              <tr><td id="3"></td><td id="4"></td><td id="5"></td></tr>
              <tr><td id="6"></td><td id="7"></td><td id="8"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-2">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-3">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-4">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-5">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-6">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-7">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-8">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-9">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
              <tr><td></td><td></td><td></td></tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>