<%# マンダラート　メイン編集画面 %>
<div class="edit_body" id="edit_body">
  <%= render :partial => 'mandarat/shared' %>
  <div class="mandarat-main">
    <div class="to-up-area">
      <div id="to-up-button"><i class="caret down vertically flipped huge icon"></i></div>
    </div>
    <div class="to-left-area">
      <div id="to-left-button"><i class="caret down clockwise rotated huge icon"></i></div>
    </div>
    <div class="mandarat-blocks">
      <table border="1">
        <!--
        あとで書き換える
        縦に伸びてくから文字数制限つけて欲しい
        -->
        <tr><td><input class="t0" id="zoom_0"></td><td><input class="t1" id="zoom_1"></td><td><input class="t2" id="zoom_2"></td></tr>
        <tr><td contenteditable="true" class="t3" id="zoom_3"></td><td contenteditable="true" class="t4" id="zoom_4"></td><td contenteditable="true" class="t5" id="zoom_5"></td></tr>
        <tr><td contenteditable="true" class="t6" id="zoom_6"></td><td contenteditable="true" class="t7" id="zoom_7"></td><td contenteditable="true" class="t8" id="zoom_8"></td></tr>
      </table>
    </div>
    <div class="to-right-area">
      <div id="to-right-button"><i class="caret down counterclockwise rotated huge icon"></i></div>
    </div>
    <div class="to-down-area">
      <div id="to-down-button"><i class="caret down huge icon"></i></div>
    </div>
  </div>
</div>



