<%# マンダラート　全体表示画面 %>
<div class="edit_body" id="edit_body">
  <div class="mandarat-overview">
    <div class="content"><input type="button" id="zoomview" value="ズーム画面に戻る"></div>
    <table>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-1">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="0"></div></td><td><div id="1"></div></td><td><div id="2"></div></td></tr>
              <tr><td><div id="3"></div></td><td><div id="4"></div></td><td><div id="5"></div></td></tr>
              <tr><td><div id="6"></div></td><td><div id="7"></div></td><td><div id="8"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-2">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="10"></div></td><td><div id="11"></div></td><td><div id="12"></div></td></tr>
              <tr><td><div id="13"></div></td><td><div id="14"></div></td><td><div id="15"></div></td></tr>
              <tr><td><div id="16"></div></td><td><div id="17"></div></td><td><div id="18"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-3">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="20"></div></td><td><div id="21"></div></td><td><div id="22"></div></td></tr>
              <tr><td><div id="23"></div></td><td><div id="24"></div></td><td><div id="25"></div></td></tr>
              <tr><td><div id="26"></div></td><td><div id="27"></div></td><td><div id="28"></div></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-4">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="30"></div></td><td><div id="31"></div></td><td><div id="32"></div></td></tr>
              <tr><td><div id="33"></div></td><td><div id="34"></div></td><td><div id="35"></div></td></tr>
              <tr><td><div id="36"></div></td><td><div id="37"></div></td><td><div id="38"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-5">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="40"></div></td><td><div id="41"></div></td><td><div id="42"></div></td></tr>
              <tr><td><div id="43"></div></td><td><div id="44"></div></td><td><div id="45"></div></td></tr>
              <tr><td><div id="46"></div></td><td><div id="47"></div></td><td><div id="48"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-6">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="50"></div></td><td><div id="51"></div></td><td><div id="52"></div></td></tr>
              <tr><td><div id="53"></div></td><td><div id="54"></div></td><td><div id="55"></div></td></tr>
              <tr><td><div id="56"></div></td><td><div id="57"></div></td><td><div id="58"></div></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-7">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="60"></div></td><td><div id="61"></div></td><td><div id="62"></div></td></tr>
              <tr><td><div id="63"></div></td><td><div id="64"></div></td><td><div id="65"></div></td></tr>
              <tr><td><div id="66"></div></td><td><div id="67"></div></td><td><div id="68"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-8">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="70"></div></td><td><div id="71"></div></td><td><div id="72"></div></td></tr>
              <tr><td><div id="73"></div></td><td><div id="74"></div></td><td><div id="75"></div></td></tr>
              <tr><td><div id="76"></div></td><td><div id="77"></div></td><td><div id="78"></div></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-9">
            <table border="1" class="tab">
              <!--あとで書き換える-->
              <tr><td><div id="80"></div></td><td><div id="81"></div></td><td><div id="82"></div></td></tr>
              <tr><td><div id="83"></div></td><td><div id="84"></div></td><td><div id="85"></div></td></tr>
              <tr><td><div id="86"></div></td><td><div id="87"></div></td><td><div id="88"></div></td></tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>