<%# マンダラート　全体表示画面 %>
<div class="edit_body" id="edit_body">
  <div class="mandarat-overview">
    <div class="content"><input type="button" id="zoomview" value="ズーム画面に戻る"></div>
    <table>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-1">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="0"></td><td id="1"></td><td id="2"></td></tr>
              <tr><td id="3"></td><td id="4"></td><td id="5"></td></tr>
              <tr><td id="6"></td><td id="7"></td><td id="8"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-2">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="10"></td><td id="11"></td><td id="12"></td></tr>
              <tr><td id="13"></td><td id="14"></td><td id="15"></td></tr>
              <tr><td id="16"></td><td id="17"></td><td id="18"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-3">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="20"></td><td id="21"></td><td id="22"></td></tr>
              <tr><td id="23"></td><td id="24"></td><td id="25"></td></tr>
              <tr><td id="26"></td><td id="27"></td><td id="28"></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-4">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="30"></td><td id="31"></td><td id="32"></td></tr>
              <tr><td id="33"></td><td id="34"></td><td id="35"></td></tr>
              <tr><td id="36"></td><td id="37"></td><td id="38"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-5">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="40"></td><td id="41"></td><td id="42"></td></tr>
              <tr><td id="43"></td><td id="44"></td><td id="45"></td></tr>
              <tr><td id="46"></td><td id="47"></td><td id="48"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-6">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="50"></td><td id="51"></td><td id="52"></td></tr>
              <tr><td id="53"></td><td id="54"></td><td id="55"></td></tr>
              <tr><td id="56"></td><td id="57"></td><td id="58"></td></tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-7">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="60"></td><td id="61"></td><td id="62"></td></tr>
              <tr><td id="63"></td><td id="64"></td><td id="65"></td></tr>
              <tr><td id="66"></td><td id="67"></td><td id="68"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-8">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="70"></td><td id="71"></td><td id="72"></td></tr>
              <tr><td id="73"></td><td id="74"></td><td id="75"></td></tr>
              <tr><td id="76"></td><td id="77"></td><td id="78"></td></tr>
            </table>
          </div>
        </td>
        <td class="main-theme-block">
          <div class="sub-theme-block" id="sub-theme-block-9">
            <table border="1">
              <!--あとで書き換える-->
              <tr><td id="80"></td><td id="81"></td><td id="82"></td></tr>
              <tr><td id="83"></td><td id="84"></td><td id="85"></td></tr>
              <tr><td id="86"></td><td id="87"></td><td id="88"></td></tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>