<div class="mandarat-shared">
  <div class="current-location-area" id="radio-btn">
    <div class="ui header" id="to_while_link">
      <a id="allview"><i class="compress arrows alternate icon"></i>全体を見る</a>
    </div>
    <table border="1">
      <!--あとで書き換える-->
      <tr>
        <td>
          <input id="radio1" class="radiobutton" name="hoge" type="radio" value=0 />
          <label for="radio1"></label>
        </td>
        <td>
          <input id="radio2" class="radiobutton" name="hoge" type="radio" value=10 />
          <label for="radio2"></label>
        </td>
        <td>
          <input id="radio3" class="radiobutton" name="hoge" type="radio" value=20 />
          <label for="radio3"></label>
        </td>
      <tr>
      <tr>
        <td>
          <input id="radio4" class="radiobutton" name="hoge" type="radio" value=30 />
          <label for="radio4"></label>
        </td>
        <td>
          <input id="radio5" class="radiobutton" name="hoge" type="radio" value=40 />
          <label for="radio5"></label>
        </td>
        <td>
          <input id="radio6" class="radiobutton" name="hoge" type="radio" value=50 />
          <label for="radio6"></label>
        </td>
      <tr>
      <tr>
        <td>
          <input id="radio7" class="radiobutton" name="hoge" type="radio" value=60 />
          <label for="radio7"></label>
        </td>
        <td>
          <input id="radio8" class="radiobutton" name="hoge" type="radio" value=70 />
          <label for="radio8"></label>
        </td>
        <td>
          <input id="radio9" class="radiobutton" name="hoge" type="radio" value=80 />
          <label for="radio9"></label>
        </td>
      <tr>
    </table>
  </div>
  <div class="themes-area">
    <div class="ui link list">
      <div class="active item">メインテーマ</div>
      <div class="item" id="main-theme"><p id="main"></p></div>
      <br>
      <div class="active item">サブテーマ</div>
      <table border="1" class="theme-tab">
        <tr>
          <td>
            <div class="item" id="sub-theme-1"><p id="theme0">テーマ１</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-2"><p id="theme1">テーマ２</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-3"><p id="theme2">テーマ３</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-4"><p id="theme3">テーマ４</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-5"><p id="theme5">テーマ５</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-6"><p id="theme6">テーマ６</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-7"><p id="theme7">テーマ７</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="item" id="sub-theme-8"><p id="theme8">テーマ８</p></div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>