<p>ようこそ！ <%= @email %>さん！</p>

<p>以下のリンクからアカウントのメールを確認できます。</p>

<p><%= link_to 'こちらをクリック', confirmation_url(@resource, confirmation_token: @token), :protocol =>'https://', :only_path => false %></p>
