<%= render :partial => 'shared/header' %>

<div class="home_body" id="home_body">
  <div class="account_segment">
    <div class="account_name">username</div>
    <div class="account_setting">
      <table class="ui very basic table">
        <tbody>
        <tr>
          <td>Name</td>
          <td>
            <div class="ui input">
              <input type="text">
            </div>
          </td>
        </tr>
        <tr>
          <td>E-mail address</td>
          <td>
            <div class="ui input">
              <input type="text">
            </div>
          </td>
        </tr>
        <tr>
          <td>Pass word</td>
          <td>
            <div class="ui input">
              <input type="password">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>