<div class="category_segment">
  <h1 class="header">Create New</h1>
  <ul class="horizontal-list categories">
    <%= link_to idea_memo_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Memo</div>
        <div class="techname_ja">メモ</div>
        <div><i class="edit huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="category1"></i>もっと詳しく
        <div class="explain">
          考えていることを書き連ねる<br>ことで、考えを整理し発想を<br>しやすくする技法
        </div>
        <hr>
        <div class="recommend_point">
          真っ白なフィールドを思考で<br>埋めていくことで新しい発想<br>が可能
        </div>
      </li>
    <% end %>
    <%= link_to idea_brainstorming_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Brainstorming</div>
        <div class="techname_ja">ブレインストーミング</div>
        <div><i class="tags huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：２人〜
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="category2"></i>もっと詳しく
        <div class="explain">
          集団でアイデアを出し合うこ<br>とによって相互交錯の連鎖反<br>応や発想の誘発を期待する技法
        </div>
        <hr>
        <div class="recommend_point">
          アイデアを出し合い、融合さ<br>せることで、斬新で質な発想<br>が可能<br>
        </div>
      </li>
    <% end %>
    <%= link_to idea_mandarat_new_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Mandarat</div>
        <div class="techname_ja">マンダラート</div>
        <div><i class="expand arrows alternate huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人〜
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="category3"></i>もっと詳しく
        <div class="explain">
          ９×９のマス目に連想される<br>語句、または関連語句を記述<br>しアイデアのタネを育てる技法
        </div>
        <hr>
        <div class="recommend_point">
          アイデアの整理や拡大が図れ<br>効果的なアイデアを発掘する<br>ことが可能
        </div>
      </li>
    <% end %>
    <%= link_to idea_word_gacha_edit_path do %>
      <li class="horizontal-item category">
        <div class="techname_eng">Word GACHA</div>
        <div class="techname_ja">単語ガチャ</div>
        <div><i class="chart pie huge icon techname_icon"></i></div>
        <div class="recommend_num">
          推奨人数：１人
        </div>
        <br>
        <i class="question circle outline icon js-modal-open" id="category4"></i>もっと詳しく
        <div class="explain">
          現在<br>誠意<br>開発中です
        </div>
        <hr>
        <div class="recommend_point">
          楽しみに<br>お待ち<br>ください
        </div>
      </li>
    <% end %>
    <li class="horizontal-item category">
      <div class="techname_eng">Developing</div>
      <div class="techname_ja">開発中</div>
      <div><i class="moon huge icon techname_icon"></i></div>
      <div class="recommend_num">
        推奨人数：？人〜？人
      </div>
      <br>
      <i class="question circle outline icon js-modal-open" id="category5"></i>もっと詳しく
      <div class="explain">
        現在<br>誠意<br>開発中です
      </div>
      <hr>
      <div class="recommend_point">
        楽しみに<br>お待ち<br>ください
      </div>
    </li>
    <li class="horizontal-item category">
      <div class="techname_eng">Developing</div>
      <div class="techname_ja">開発中</div>
      <div><i class="moon huge icon techname_icon"></i></div>
      <div class="recommend_num">
        推奨人数：？人〜？人
      </div>
      <br>
      <i class="question circle outline icon js-modal-open" id="category6"></i>もっと詳しく
      <div class="explain">
        現在<br>誠意<br>開発中です
      </div>
      <hr>
      <div class="recommend_point">
        楽しみに<br>お待ち<br>ください
      </div>
    </li>
  </ul>
</div>