<%= render 'shared/header' %>
<%= render 'shared/homemenu' %>

<div class="home_body">
  <div class="creat_new_segment">
    <h1 class="header">Create New</h1>
    <ul class="horizontal-list news">
      <li class="horizontal-item new">
        <div class="techname_eng">Memo</div>
        <div class="techname_ja">メモ</div>
        <div><i class="edit inverted huge icon techname_icon"></i></div>
      </li>
      <li class="horizontal-item new">
        <div class="techname_eng">Brainstorming</div>
        <div class="techname_ja">ブレインストーミング</div>
        <div><i class="tags inverted huge icon techname_icon"></i></div>
      </li>
    </ul>
    <h2 class="more"><a href="07_look_new.html">more ...</a></h2>
  </div>
  <div class="recent_creation_segment">
    <h1 class="header">Recent Creation (coming soon...)</h1>
    <ul class="horizontal-list creations">
      <li class="horizontal-item creation">
        <div>コンテンツ1</div>
      </li>
      <li class="horizontal-item creation">
        <div>コンテンツ2</div>
      </li>
      <li class="horizontal-item creation">
        <div>コンテンツ3</div>
      </li>
      <li class="horizontal-item creation">
        <div>コンテンツ4</div>
      </li>
    </ul>
    <h2 class="more"><a href="07_look_history.html">more ...</a></h2>
  </div>
  <div class="ui leaderboard ad">
    <!-- Leaderboard
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
         data-ad-slot="XXXXXXXXXXXXXXXX"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    !-->
  </div>
</div>