<%= render 'shared/header' %>
<%= render 'shared/homemenu' %>

<div class="home_body">
  <div class="seg_1">
    <h2 class="headline">Create New</h2>
    <div class="ui four column grid">
      <div class="column">
        <a href="05_new.html"><div class="card"></div></a>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
    </div>
    <div class="more"><a href="07_look_new.html"><h2>more ...</h2></a></div>
  </div>
  <div class="seg_2">
    <h2 class="headline">Recent Creation</h2>
    <div class="ui four column grid">
      <div class="column">
        <a href="05_new.html"><div class="card"></div></a>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
      <div class="column">
        <div class="card"></div>
      </div>
    </div>
    <div class="more"><a href="07_look_history.html"><h2>more ...</h2></a></div>
  </div>
  <div class="ui leaderboard ad">
    <!-- Leaderboard
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
         data-ad-slot="XXXXXXXXXXXXXXXX"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    !-->
  </div>
</div>
