<%= render :partial => 'shared/header' %>

<div class="home_body" id="home_body">
    <div class="home_center">
      <div class="ideash_explain">

      </div>
      <div class="step_content">
        <h5>Ideashはたったの3step　早速発想してみましょう</h5>
        <div class="ui steps">
          <div class="link step">
            <i class="truck icon"></i>
            <div class="content">
              <div class="title">Shipping</div>
              <div class="description">Choose your shipping options</div>
            </div>
          </div>
          <div class="link step">
            <i class="truck icon"></i>
            <div class="content">
              <div class="title">Shipping</div>
              <div class="description">Choose your shipping options</div>
            </div>
          </div>
          <div class="completed step">
            <i class="payment icon"></i>
            <div class="content">
              <div class="title">Billing</div>
              <div class="description">Enter billing information</div>
            </div>
          </div>
        </div>
      </div>
      <div class="advertisement">
        <div class="ui large leaderboard test ad" data-text="Large Leaderboard"></div>
        <div class="ui large leaderboard test ad" data-text="Large Leaderboard"></div>
      </div>
    </div>
    <div class="home_right">
      <div class="release_info">
        <div class="ui tiny list">
          <% @release_note.each do |row| %>
            <div class="item">
              <i class="angle right icon"></i>
              <div class="release_note_content">
                <%= link_to row['description'].split("//")[0], release_note_path, class: 'header' %>
                <div class="description"><%= row['date'] %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="twitter_window">
        <a class="twitter-timeline" data-chrome="noheader nofooter noborders" data-width="100%" data-height="100%" data-border-color="#2E2F30" href="https://twitter.com/Ideash_5k?ref_src=twsrc%5Etfw">Tweets by Ideash_5k</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="about_us">

      </div>
    </div>
</div>

<%# JSが書かれているため最後に書くこと %>
<%= render :partial => 'shared/homemenu' %>