<%# if idea_log.query['mode'] == 'add' %>
<!--    <div>-->
<%#= idea_log.query['add']['content'] %>
<!--    </div>-->
<%# end %>

<%# if idea_log.query['mode'] == 'chat' %>
<!--  <div class="chat_content">-->
    <%#= idea_log.query['chat']['content'] %>
<!--  </div>-->
<%# end %>