<!-- 1 -->
<div class="ui right fixed huge vertical menu block-edit-sidebar">
  <!-- 2 -->
  <div class="item timer">
    <div class="timer_min">０９：</div><div class="timer_sec">５９</div>
  </div>
  <!-- 3 -->
  <div class="item explain">
    <div class="header-text">
      <i class="question circle outline icon"></i>ブレインストーミング
    </div>
    <ul class="explain-list">
      <li class="bold">アイデア出し　：30m</li>
      <li>意見だし　　　：10m</li>
      <li>グルーピング　：10m</li>
    </ul>
  </div>
  <!-- 4 -->
  <div class="item participant">
    <div class="header-text">
      参加者
    </div>
    <div class="member">
      <ul>
        <li><i class="user circle icon"></i>member_name_1</li>
        <li><i class="user circle teal icon"></i>member_name_2</li>
        <li><i class="user circle pink icon"></i>member_name_3</li>
        <li><i class="user circle olive icon"></i>member_name_4</li>
        <li><i class="user circle icon"></i>member_name_5</li>
        <li><i class="user circle teal icon"></i>member_name_6</li>
        <li><i class="user circle pink icon"></i>member_name_7</li>
        <li><i class="user circle olive icon"></i>member_name_8</li>
      </ul>
    </div>
  </div>
  <!-- 5 -->
  <div class="item memo">
    <div class="header-text">
      memo
    </div>
    <textarea class="memo-content">
    </textarea>
  </div>
</div>
