<div class="header_div"></div>

<%# 上部メニュー %>
<div class="ui fixed inverted menu">
    <div class="left item home-sidebar"><i class="icon large grey content"></i></div>
</div>
<%# サイドバー %>
<div id="home_menu"></div>