<div class="ui left fixed vertical huge inverted menu">
  <div class="home-menu-bleak"></div>
  <a class="item home-menu" href="07_look_new.html">新規作成</a>
  <a class="item home-menu" href="05_new.html">ブレインストーミング</a>
  <a class="item home-menu" href="07_look_history.html">履歴</a>
  <a class="item home-menu" href="08_setting.html">アカウント</a>
  <a class="item home-menu" href="02_signin.html">サインアウト</a>
</div>
