<%# サイドバー %>
<div class="ui left fixed vertical inverted menu" id="home_menu">
  <div class="item">
    <%= image_tag "icon_mini.png", class: "ui mini imag menu_icon" %>
  </div>
  <a class="item home-menu" href="/idea/category">新規作成</a>
  <a class="item home-menu" href="/idea/brainstorming/new">ブレインストーミング</a>
  <a class="item home-menu" href="/idea/history">履歴</a>
  <a class="item home-menu" href="">アカウント</a>
  <a class="item home-menu" href="">サインアウト</a>
  <small class="copyright">© 2020 by KUGATech team 5K</small>
</div>
<%# レスポンシブ対応 %>
<%= javascript_pack_tag 'shared', 'data-turbolinks-track': 'reload' %>
