<%= javascript_pack_tag "idea/word_slot" %>
<div class="edit_body" id="edit_body">
  <div class="word-slot">
    <div class="word-cards">
      <h1 id="slot-word-left" class="slot-word">単語ガチャ</h1>
      <h1 id="slot-word-center" class="slot-word">単語ガチャ</h1>
      <h1 id="slot-word-right" class="slot-word">単語ガチャ</h1>
    </div>
  </div>
  <div class="select-buttons">
    <div class="turn-gacha-area">
      <div class="ui teal button" id="turn-slot-button">回す</div>
    </div>
  </div>
</div>
