<%= javascript_pack_tag "idea/word_slot" %>
<div class="edit_body" id="edit_body">
  <div class="word-cards">
    <div class="to-previous-area">
      <div id="to-previous-button">
        <i class="caret down clockwise rotated huge link icon"></i>
      </div>
    </div>
    <div class="word-card">
      <div id="rank_top"></div>
      <h1 id="slot-word">単語ガチャ</h1>
      <div id="rank_bottom"></div>
    </div>
    <div class="to-next-area">
      <div id="to-next-button">
        <i class="caret down counterclockwise rotated huge link icon"></i>
      </div>
    </div>
  </div>
  <div class="select-buttons">
    <div class="turn-gacha-area">
      <div class="ui teal button" id="turn-slot-button">回す</div>
    </div>
  </div>
</div>
