<% @memo.each do |f| %>
  <a href="">
    <div class="item memos">
      <div class="ui header details">
        <div class="content memo-text">
          <%= f.idea_name %>
          <!--        卒業研究に向けての案-->
          <!--          この文字数が最大-->
          <div class="sub header memo-date">
            <%= f.updated_at %>
            <!--          2020-06-16-->
          </div>
        </div>
        <i class="universal access icon memo-icon"></i>
      </div>
      <div class="memo-sample">
        <%= f.idea_description %>
        <!--      メモの内容を一部表示する-->
        <!--      この文字数が最大-->
      </div>
    </div>
    <div class="ui divider"></div>
  </a>
  </div>
<% end %>