<h1>Memo#show</h1>
<p>Find me in app/views/memo/show.html.erb</p>

<p>
  [ID(id)] <%= @memo.id %>,
  [メモ名(idea_name)] <%= @memo.idea_name %>,
  [メモ内容(idea_description)] <%= @memo.idea_description %>
</p>